# .gitignore
akademik/week2-4/day1-15/netflixUIKit/netflixUIKit/GoogleService-Info.plist  # or the name of your configuration file
akademik/week2-4/day1-15/netflixUIKit/netflixUIKit/Info.plist # only if necessary, some projects may need to keep Info.plist
