<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID to secure your account.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.255830166852-80e6ljqvp1e7jc7opi68ekpesml094i5</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GIDClientID</key>
	<string>255830166852-80e6ljqvp1e7jc7opi68ekpesml094i5.apps.googleusercontent.com</string>
	<key>TMDB_API_KEY</key>
	<string>4efa790c079062bd2659b1acb45fb5ff</string>
	<key>TMDB_TOKEN_KEY</key>
	<string>Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0ZWZhNzkwYzA3OTA2MmJkMjY1OWIxYWNiNDVmYjVmZiIsInN1YiI6IjY1NDJmODlmZWQyYWMyMDBlM2M5NDZlOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.MLpdGrAtvlaF1QL5iTVic_aUaI7mb4d3gsbHv4TGIXA</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
